/* Contenedor principal */
.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Cuadro de inicio de sesión */
.login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%; /* Ocupa el 40% del ancho */
}

.login-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

/* Inputs */
.login-input {
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.2s ease;
}

.login-input:focus {
    border-color: #007bff;
    outline: none;
}

/* Botón de inicio de sesión */
.login-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.2s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Crear cuenta */
.create-account {
    margin-top: 10px;
    text-align:start;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.create-account a:hover {
    text-decoration: underline;
}

/* Botones de inicio de sesión con Google y Facebook */
.social-login {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.google-button,
.facebook-button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.google-button {
    background-color: #db4437;
}

.google-button:hover {
    background-color: #c1351d;
}

.facebook-button {
    background-color: #4267B2;
}

.facebook-button:hover {
    background-color: #365899;
}

/* Imagen de la derecha */
.login-image {
    width: 50%; /* Ocupa el 50% del ancho */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: 100%; /* La imagen ocupa todo el contenedor */
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsivo */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .login-image {
        width: 100%;
    }
}
