.table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }
  
  .table th, .table td {
    border: 1px solid red;
    padding: 11px;
    text-align: center;
  }
  
  .table th {
    background-color: purple;
    color: orange;
  }